:root{
   background-color: rgb(151, 177, 151);
   display: flex;
   align-items: center;
   justify-content: center;
}
ul{
   list-style: none;

}
li{
   border-bottom: 2px solid grey;
   width: 100px;
   display: flex;
   justify-content: center;
   padding: 15px;
}
li:first-child{
   border-top: 2px solid grey;
}

i:hover{
   cursor: pointer;
}